# ASSIGNMENT

# Q1)

## 1.a) Import libraries (pandas as pd, numpy as np and seaborn as sns)

In [1]:
#Import Library
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

## 1.b) Read Data as df and use describe() method and head() method for the whole df

In [3]:
df= pd.read_excel('Customer Dataset.xlsx')

In [5]:
#General overlook with describe() method
df_overlook = df.describe()
df_overlook

,Customer_ID,Number_of_Tickets,Price,Revenue,Age,Income,Own_home,Own_car,Zip,Gender,Price_Category,Renewal,Age range 1,Age range 3,Age range 2,P,LTV,Dates
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.0000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000
mean,2500.500000,2.27920,223.356000,495.540000,43.135600,92.701690,0.546000,0.79680,0.513800,0.605400,0.7226,0.650600,0.15120,1.580400,0.644000,2.375600,852.012000,2019-01-23 22:36:11.520000
min,1.000000,1.00000,180.000000,180.000000,18.000000,34.137000,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,1.000000,180.000000,2018-03-01 00:00:00
25%,1250.750000,1.00000,180.000000,300.000000,28.000000,43.287500,0.000000,1.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,2.000000,480.000000,2018-10-15 00:00:00
50%,2500.500000,2.00000,180.000000,480.000000,46.000000,111.427500,1.000000,1.00000,0.000000,1.000000,0.0000,1.000000,0.00000,3.000000,0.000000,3.000000,900.000000,2019-01-10 00:00:00
75%,3750.250000,3.00000,240.000000,600.000000,56.000000,132.506750,1.000000,1.00000,1.000000,1.000000,1.0000,1.000000,0.00000,3.000000,2.000000,3.000000,1200.000000,2019-05-14 00:00:00
max,5000.000000,8.00000,300.000000,1920.000000,82.000000,173.124000,1.000000,1.00000,2.000000,1.000000,2.0000,1.000000,1.00000,3.000000,2.000000,3.000000,3840.000000,2019-12-25 00:00:00
std,1443.520003,1.17112,48.972001,246.433468,15.026789,43.356353,0.497929,0.40242,0.785069,0.488813,0.8162,0.476828,0.35828,1.497994,0.934579,0.732825,525.119779,NaN

In [7]:
#head()
df_head = df.head()
df_head

,Customer_ID,Number_of_Tickets,Price,Revenue,Age,Income,Own_home,Own_car,Zip,Gender,Price_Category,Renewal,Age range 1,Age range 3,Age range 2,P,LTV,Campaign_ID,Dates
0,277,2,180,360,19,35.065,0,0,0,0,0,0,1,0,0,1,360,1,2018-03-01
1,1383,2,180,360,22,37.742,0,0,0,0,0,0,1,0,0,1,360,1,2018-03-01
2,1404,2,180,360,19,35.210,0,0,0,0,0,0,1,0,0,1,360,537,2018-03-01
3,1595,2,180,360,20,36.072,0,0,0,0,0,1,1,0,0,1,720,1,2018-03-01
4,1604,1,300,300,56,133.972,1,1,0,1,2,1,0,3,0,3,600,Organic,2018-03-01

# Q2)

## 2.a) Make these below histograms with displot
- **Variable 'Age', # of bins =5**
- **Variable 'Age', # of bins =10**
- **Variable 'Age', # of bins =20**
- **Variable 'Age', # of bins =30**

## 2.b) Make these below histograms with displot
- **Variable 'Income', # of bins =5**
- **Variable 'Income', # of bins =10**
- **Variable 'Income', # of bins =20**
- **Variable 'Income', # of bins =30**

## 2.a)

In [9]:
#Age 5 bin
sns.displot(df, x="Age", binwidth=5)

In [11]:
#Age 10 bin
sns.displot(df, x="Age", binwidth=10)

In [13]:
#Age 20 bin
sns.displot(df, x="Age", binwidth=20)

In [15]:
#Age 30 bin
sns.displot(df, x="Age", binwidth=30)

## 2.b)

In [17]:
#Income 5 bin
sns.displot(df, x="Income", binwidth=5)

In [19]:
#Income 10 bin
sns.displot(df, x="Income", binwidth=10)

In [21]:
#Income 20 bin
sns.displot(df, x="Income", binwidth=20)

In [23]:
#Income 30 bin
sns.displot(df, x="Income", binwidth=30)

## 2.c) Set figure size as (12,5), set style as "white" and draw a kdeplot for 'Income' variable

In [25]:
sns.set(rc = {'figure.figsize':(12,5)})
sns.set_style("white")
sns.kdeplot(data=df, x="Income")

## 2.d) Make a filled displot for 'Income' variable, kind should be 'kde'. Set hue with 'Zip' variable.

In [27]:
sns.displot(df, x="Income", hue="Zip", kind="kde")

# Q3)

## 3) Make a pairplot with 'Age' and 'Number_of_Tickets' - and use 'Gender' as Hue 

## use a palette to your liking - keep in mind that 0 represents female and 1 represents male

In [29]:
sns.pairplot(df, hue = "Gender",palette="magma")

# Q4)

## 4.a) Make boxplots. In the x axis should be 'Zip' (0,1,2) and y-axis 'Age'

In [42]:
sns.boxplot(data= df, x="Zip", y="Age", hue = 'Zip', palette="rainbow")

## 4.b) Add 'Gender' variable as hue to Question 4.a

In [44]:
sns.boxplot(data= df, x="Zip", y="Age",hue = 'Gender',palette='rainbow')

# Q5)

## 5.a) Prepare violinplots- at x axis put 'Zip' variable and y axis 'Age' - use 'Gender' as hue

In [72]:
sns.violinplot(data=df, x ='Zip', y ="Age", hue ="Gender")

## 5.b) Change Q5.a)'s y axis with 'Income' variable

In [74]:
sns.violinplot(data=df, x ='Zip', y ="Income", hue ="Gender")

## 5.c) In addition to Q5.b) get dotted lines representing the quartiles that show the first, second, and third quartiles (please make split=True)

In [76]:
sns.violinplot(data=df, x ='Zip', y ="Income", hue ="Gender", split=True, inner = "quartile")

# Q6)

## Q6.a) Make a facetgrid for 'Income' variable and put 'Zip' variable to columns (height=5)

In [78]:
g = sns.FacetGrid(df, col="Zip", height=5)
g.map(sns.histplot, "Income")

## Q6.b) Make a facetgrid for 'Age' variable and put 'Zip' variable to columns (height=5)

In [80]:
g = sns.FacetGrid(df, col="Zip", height=5)
g.map(sns.histplot, "Age")

## Q6.c) Make a facetgrid for 'Age' variable and put 'Zip' to columns (height=5, aspect=0.8)
## Q6.c)  Please add legend and use hue for 'Gender' variable

In [82]:
g = sns.FacetGrid(df, col="Zip", hue="Gender", height=5, aspect=0.8)
g.map(sns.histplot, "Age")
g.add_legend()

## Great job!